* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.results tr[visible="false"],
.no-result {
  display: none;
}

.results tr[visible="true"] {
  display: table-row;
}

.counter {
  padding: 8px;
  color: #ccc;
}

/* INPUT FIELDS SRYLINg */

.input::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #0f1041;
}
.input-header {
  position: relative;
  padding-top: 80px;
  color: #fff;
}
.input-header h1 {
  padding-bottom: 25px;
  font-size: 3.25em;
  font-weight: 100;
}
.input-content {
  position: relative;
  padding: 44px 55px;
  background: #fff;
  z-index: 10;
}
.input-content h2 {
  padding-bottom: 45px;
  font-size: 1.625em;
  font-weight: bold;
  vertical-align: middle;
}
.input-content h2 span {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 6px 3px;
  border: 1px solid #ffca00;
  border-radius: 4px;
  font-size: 0.85rem;
  vertical-align: middle;
  color: #ffca00;
}
.input-content .inputbox {
  overflow: hidden;
  position: relative;
  padding: 15px 0 28px 200px;
}
.input-content .inputbox-title {
  position: absolute;
  top: 15px;
  left: 0;
  width: 200px;
  height: 30px;
  color: #666;
  font-weight: bold;
  line-height: 30px;
}
.input-content .inputbox-content {
  position: relative;
  width: 100%;
}
.input-content .inputbox-content input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}
.input-content .inputbox-content input:focus ~ label,
.input-content .inputbox-content input:valid ~ label {
  color: #2962ff;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  font-size: 0.825em;
  cursor: default;
}
.input-content .inputbox-content input:focus ~ .underline {
  width: 100%;
}
.input-content .inputbox-content label {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  color: #ccc;
  cursor: text;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 10;
}
.input-content .inputbox-content .underline {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: #2962ff;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.input-content .btns {
  padding: 30px 0 0 200px;
}
.input-content .btns .btn {
  display: inline-block;
  margin-right: 2px;
  padding: 10px 25px;
  background: none;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  color: #666;
  font-size: 1.125em;
  outline: none;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.input-content .btns .btn:hover,
.input-content .btns .btn:focus {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.input-content .btns .btn-confirm {
  border: 1px solid #2962ff;
  background: #2962ff;
  color: #fff;
}

/* DASH BOARD STYLE */

/* Button Style  */
.Button-user a {
  display: block;
  color: white !important;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid blanchedalmond;
}
.Button-user a:hover {
  color: #fa4d41 !important;
  background-color: #f4f4f5;
}
.Button-user a:active {
  box-shadow: none;
  transition: ease-in-out 0.2s;
}

.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  position: relative;
}

.sidebar .bg_shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar_inner {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fdd7d8;
  z-index: 999;
  transition: all 0.3s ease;
}

.main_container {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
}

.sidebar_inner .siderbar_menu > li > a {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1px;
  color: #fa4d41;
}
.sidebar_inner .close {
  top: 5px;
  right: 15px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navbar {
  background: #fff;
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar .hamburger {
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
  color: #fa4d41;
  display: none;
}

@media (max-width: 1024px) {
  .sidebar_inner {
    left: -115%;
    transition: all 0.5s ease;
  }
  .main_container {
    width: 100%;
    margin-left: 0;
  }
  .navbar .hamburger,
  .sidebar_inner .close {
    display: block;
  }
  .content .item {
    width: 47%;
  }
  .wrapper.active .sidebar_inner {
    left: 0;
    transition: all 0.5s ease;
  }

  .wrapper.active .sidebar .bg_shadow {
    visibility: visible;
    opacity: 0.7;
  }
}

@media (max-width: 528px) {
  .content .item {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .logout_btn a {
    display: none;
  }
}
