.button-style {
  all: unset;
}
.bill-calc {
  background-color: beige;
}

.results tr[visible="false"],
.no-result {
  display: none;
}

.results tr[visible="true"] {
  display: table-row;
}

.counter {
  padding: 8px;
  color: #ccc;
}
